.good {
  &__header {background-image: url(/img/good-bg.jpg);}
  &__title {color: $white;}
  &__slider {position: sticky; top: 20px; margin-bottom: 30px;}
  &__wrap {padding: 30px 0; border-top: 1px solid rgba($dark-gray, 0.5);
    &::after {content: ''; clear: both; display: table;}
    .logotype--mastercard {margin-left: 12px;}
  }
  &__radio {margin-bottom: 10px;}
  &__cost {display: inline-block; vertical-align: top; margin-right: 20px; min-width: 110px; font-size: 2rem;
    font-weight: 700; line-height: 50px;
  }
  &__cart-button {
    &-wrap {float: right;}
    .icon {margin-left: 5px;}
  }
  &__subtitle {margin-top: 0; margin-bottom: 25px; font-size: 1rem;}
  &__list {display: flex; flex-wrap: wrap; margin: 0 -10px; padding: 0;}
  &__item {list-style-type: none; width: 20%; margin-bottom: 20px; padding: 0 10px; box-sizing: border-box;}
  &__link {display: block; transition: all 0.4s; cursor: pointer;
    &:hover, &:focus {opacity: 0.85; outline: none; transition: all 0.2s;}
    &:active {transition: all 0.1s;}
    &--active::after {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 3px solid $dark-pink;
      box-sizing: border-box;
    }
  }
  .logotype {margin-right: 25px;}

  @media (max-width: $desktop-width) {
    &__item {width: 25%;}
    &__cart-button-wrap {float: none; margin-top: 20px;}
    .logotype {margin-right: 20px;}
  }
}
