.page {display: flex; flex-direction: column; min-height: 100vh;
  &__header {flex-shrink: 0;}
  &__main {flex-grow: 1; flex-shrink: 0;}
  &__footer {flex-shrink: 0; padding: 40px 0 20px; background-image: linear-gradient(to bottom, #9e6489, #7c4267);}

  &__subheader {padding: 65px 0; background-color: #f0efef; background-size: cover; background-position: center center;
    background-repeat: no-repeat;
  }
  &__title {margin: 0; font-size: 2.25rem; font-weight: 600; line-height: 1; text-transform: uppercase;}
  &__subtitle {margin-top: 0; margin-bottom: 30px; font-size: 1.5rem; font-weight: 400;}
  &__content {padding: 70px 0 140px;}
  &__error {position: relative; text-align: center;
    &-title {margin-top: 20px; margin-bottom: 10px; text-transform: uppercase; font-size: 2rem;}
    &::after {content: '404'; position: absolute; top: 30px; left: 50%; font-size: 248px; font-weight: 700; color: $dark-pink;
      opacity: 0.25; line-height: 1; pointer-events: none; transform: translateX(-50%);
    }
  }

  @media (max-width: $tablet-width) {
    &__content {padding: 30px 0;}
    &__error {padding-bottom: 40px; min-height: 160px;
      &-title {margin-top: 0; font-size: 1.5rem;}
      &::after {top: 0; font-size: 160px;}
    }
  }
}
