/* colors */
$white:                   #ffffff;
$black:                   #000000;
$dark-gray:               #999999;
$gray:                    #5b5b5b;
$dark-pink:               #843b68;
$dark-pink--hover:        #722f58;
$light-yellow:            #fff7e5;
$yellow:                  #fed26f;
$red:                     #e94646;

/* typography */
$font-family:             'Open Sans', 'Arial', sans-serif;
$font-base:               16px;

/* view port */
$tablet-width:            767px;
$desktop-width:           991px;

$retina-dpi:              144dpi;
$retina-dppx:             1.5dppx;
